<h1>Add a Question</h1>

<% form_for @question do |f| %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Home', root_path %>
