<h1>Submit a Question</h1>

<p>
  When you submit a question to BinaryMe, it is passed to our Curator group for approval. 
  <br />
  Generally, this process takes a bit of time, so don't be worried if you don't see your question show up right away.
</p>
<p>
  Examples of questions you might submit:
  <br />
  <i>I own a motorcycle</i>
  <br />
  <i>I have red hair</i>
<p>
<p>
  Think about this when you submit your question: 
  <br />
  <i>Can my question be answered with a true/false response?
</p>

<% form_for @question do |f| %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Home', root_path %>
